<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>585194788716-j937b0db94qnmtd0v5an7c2lfomrc84u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.585194788716-j937b0db94qnmtd0v5an7c2lfomrc84u</string>
	<key>API_KEY</key>
	<string>AIzaSyBm558Cn3iROw023WBR05DhMs-ws88xiWA</string>
	<key>GCM_SENDER_ID</key>
	<string>585194788716</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hyunminko.instagram</string>
	<key>PROJECT_ID</key>
	<string>fluttergram-10a7b</string>
	<key>STORAGE_BUCKET</key>
	<string>fluttergram-10a7b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:585194788716:ios:e04c8944817c483ad28549</string>
</dict>
</plist>